In [1]:
import pandas as pd

In [2]:
from src.preprocess import preprocess 
from src.pattern_analysis import detect_recurring

In [3]:
df = pd.read_csv("sample_statement.csv")
df.head()

         date description  amount
0  02-01-2023     Netflix    9.99
1  02-02-2023     Netflix    9.99
2  02-03-2023     Netflix    9.99
3  02-04-2023     Netflix    9.99
4  02-05-2023     Netflix    9.99

In [4]:
df_clean=preprocess(df)
df_clean.head

<bound method NDFrame.head of          date description   amount merchant
0  2023-01-02     Netflix     9.99  netflix
1  2023-02-02     Netflix     9.99  netflix
2  2023-03-02     Netflix     9.99  netflix
3  2023-04-02     Netflix     9.99  netflix
4  2023-05-02     Netflix     9.99  netflix
..        ...         ...      ...      ...
85 2023-08-10      Salary  2000.00   salary
86 2023-09-10      Salary  2000.00   salary
87 2023-10-10      Salary  2000.00   salary
88 2023-11-10      Salary  2000.00   salary
89 2023-12-10      Salary  2000.00   salary

[90 rows x 4 columns]>

In [6]:
results=detect_recurring(df_clean)
results

              merchant  avg_amount  annual_cost  transactions
0         amazon prime       14.99       179.88            12
1       gym membership       29.99       359.88            12
2       icloud storage        0.99        11.88            12
3  local grocery store       44.47       533.60            12
4              netflix        9.99       119.88            12
5               salary     2000.00     24000.00            12
6              spotify        4.99        59.88            12

In [8]:
if results.empty:
    print("No recurring subscriptions found.")
else:
    print("Recurring Subscriptions Detected:\n")
    for _, row in results.iterrows():
        print(f"Merchant: {row['merchant'].title()}")
        print(f"Average Monthly Cost: ${row['avg_amount']}")
        print(f"Annual Cost: ${row['annual_cost']}")
        print(f"Total Transactions: {row['transactions']}\n")

Recurring Subscriptions Detected:

Merchant: Amazon Prime
Average Monthly Cost: $14.99
Annual Cost: $179.88
Total Transactions: 12

Merchant: Gym Membership
Average Monthly Cost: $29.99
Annual Cost: $359.88
Total Transactions: 12

Merchant: Icloud Storage
Average Monthly Cost: $0.99
Annual Cost: $11.88
Total Transactions: 12

Merchant: Local Grocery Store
Average Monthly Cost: $44.47
Annual Cost: $533.6
Total Transactions: 12

Merchant: Netflix
Average Monthly Cost: $9.99
Annual Cost: $119.88
Total Transactions: 12

Merchant: Salary
Average Monthly Cost: $2000.0
Annual Cost: $24000.0
Total Transactions: 12

Merchant: Spotify
Average Monthly Cost: $4.99
Annual Cost: $59.88
Total Transactions: 12